{% load static %}

<footer>
    <div class="footer-content">
        <div class="logo">
            <h2>Your Logo</h2>
            <p>Your Tagline Here</p>
        </div>
        <div class="about-us">
            <h2>About Us</h2>
            <p>We want to help bring talented students and unique startups</p>
        </div>
        <div class="information">
            <h2>Information</h2>
            <p>We want to help bring talented students and unique startups</p>
        </div>
        <div class="contact-us">
            <h2>Contact Us</h2>
            <p><i class="phone-icon"></i> +55 (99) 99999-9999</p>
            <p><i class="email-icon"></i> youremailid.com</p>
        </div>
    </div>

    <div class="social-media">
        <a href="#"><img src="{% static "./img/facebook-icon.svg" %}" alt="Facebook"></a>
        <a href="#"><img src="{% static "./img/instagram-icon.svg" %}" alt="Instagram"></a>
        <a href="#"><img src="{% static "./img/twitter-icon.svg" %}" alt="Twitter"></a>
    </div>
</footer>